*{
    margin: 0;
    padding: 0;
  }
  
  
  html, body {
    width: 100vw;
    height: 100vw;
    overflow: hidden; /* Menghilangkan scroll jika tidak diperlukan */
    background-image: url(../Image/Background/red.png);
  
  }
  
  body{
  
  background-repeat: no-repeat; 
  background-size: cover;
  margin: 0;
  }
  
  .objek{
  width: 100vw;
  height: 100vw;
  
  
  }
  
  @keyframes moveText {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(15px);
    }
  }
  
  .top{
  display: flex;
  width: 100%;
  height: 5%;
  flex-direction: row;
  
  
  }

  .judul{
    font-size: 3vw;
    margin-left:  27.5vw;
    margin-top: 13vw;
  }
  
  .back {
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: black;
    z-index: 1;
  
    border: none;
    padding: 10px 10px;
    margin: 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 2vw;
    margin-top: 1vw;
  }
  
  .back:hover{
    background-color: darkred;
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
  }

  .mol{
    width: 35vw;
  }

  .mol:hover{
    transform: scale(1.02);
    }

  .mid{
  margin-top: 5%;
  width: 88%;
  height: 25%;
  display: flex;
  justify-content: space-around;
  border-radius: 30px;
  margin-left: 6%;
  align-items: center;
  }
  
  .mid2{
  width: 100vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  margin-top: 5vw;
  }

  .small{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .teks1{
    font-size: 25px;
    color: whitesmoke;
    font-family:'Franklin Gothic Medium';
    margin-left: 2vw;
  }
  

  
  
  