*{
  margin: 0;
  padding: 0;
}


html, body {
  width: 100vw;
  height: 100vw;
  overflow-x: hidden; /* Menghilangkan scroll jika tidak diperlukan */
  background-image: url(Image/Background/red.png);

}

body{

background-repeat: no-repeat; 
background-size: cover;
margin: 0;
}

.objek{
width: 100vw;
height: 100vw;


}

@keyframes moveText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(15px);
  }
}

.top{
display: flex;
width: 100%;
height: 5%;
flex-direction: row;


}

.gambar{
width: 100%;
height: 100%;
z-index: -1;
}

.logo{
width: 50px;
height: 70px;
z-index: 1;
margin-top: 1%;
margin-left: 2%;
}

.galia{
font-size: 25px;
margin-left: 1%;
margin-top: 2%;
}

.homepage{
align-self: first baseline;
font-size: 20px;
margin-left: 59%;
margin-top: 2%;
color: black;
transition: transform 0.1s ease;
}
.homepage:hover{
transform: scale(1.1);
}

#menu1 {
align-self: first baseline;
margin-top: 2%;
margin-left: 3%;
font-size: 20px;
cursor: pointer;
background-color: transparent;
border: none;
text-decoration: underline;
transition: transform 0.1s ease;
}
#menu1:hover{
transform: scale(1.1);
}

.menu {
display: none; /* Menu disembunyikan secara default */
background-color: black;
color: white;
padding: 1%;
position: absolute; 
top: 10%; 
left: 80%; 
transform: translateX(-50%);
z-index: 10; 
width: 200px; 

}

.menu ul {
list-style-type: none;
padding: 0;
}

.menu ul li {
grid-row: 4;
padding: 10px 0;
}

.menu ul li a {
color: white;
text-decoration: none;
}

.menu.show {
display: block;
}

.about {
align-self: first baseline;
font-size: 20px;
margin-top: 2%;
margin-left: 3%;
text-decoration: underline;
transition: transform 0.1s ease;
cursor: pointer;

}
.about:hover{
transform: scale(1.1);
}

.signin {
align-self: first baseline;
font-size: 20px;
text-decoration: none;
color: white;
background-color: black;
z-index: 1;
padding: 5px 10px;
border: none;
margin-top: 2%;
margin-left: 3%;
cursor: pointer;
border-radius: 5px;
}

.signin:hover{
background-color: red;
transform: scale(1.1);
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

.mid{
margin-top: 5%;
width: 88%;
height: 25%;
display: flex;
justify-content: space-around;
border-radius: 30px;
margin-left: 6%;
align-items: center;
background-image: url(Image/Background/white.png);
}

.tangan{
width: 450px;
height: 75%;
transition: transform 0.1s ease;
z-index: 10;

}
.tangan:hover{
transform: scale(1.1);
}

.atomas{
width: 450px;
height: 75%;
transition: transform 0.1s ease;
z-index: 10;
margin-right: 1%;
}
.atomas:hover{
transform: scale(1.1);
}

.tabung{
width: 400px;
height: 75%;
transition: transform 0.1s ease;
z-index: 10;
margin-right: 4%;
}
.tabung:hover{
transform: scale(1.1);
}

.mid2{
margin-top: 8%;
width: 100vw;
height: 20vw;
display: flex;
flex-direction: column;
justify-content: center;
}

.teks1{
  margin-left: 39%;
  font-size: 45px;
  color: whitesmoke;
  animation: moveText 2s infinite alternate ease-in-out;
  font-family:'Franklin Gothic Medium';
}

.pengertian{
font-size: 35px;
text-align: center;
margin-top: 5%;
margin-left: 5%;
margin-right: 6%;
color: whitesmoke;
}


.bot{
display: flex;
width: 100vw;
height: 20%;
justify-content: center;

}

.ig{
margin-top: 30%;

}

.teks2{
margin-top: 30%;
font-size: 20px;
color: white;
}

.pict{
  width: 25px;
}



