*{
    margin: 0;
    padding: 0;
 }
 
 html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Menghilangkan scroll jika tidak diperlukan */
}

h1{
    grid-row: 3 ;
    grid-column: 6 / 11;
}

.objek{
    width: 100vw;
    height: 100vw;
    display: grid;
    grid-auto-columns: 50px;
    grid-auto-rows: 50px;
 }

 .gambar{
    width: 810px;
    height: 840px;
    grid-column: 1;
    grid-row: 1;
}

.Homebut{
    grid-row: 2;
    grid-column: 18;
}

.Mainbut{
    grid-row: 2;
    grid-column: 20;
}

.teks{
    grid-row: 11;
    grid-column: 18 / 32;
    font-size: 25px;
}

.teks2{
    text-align: justify;
    font-size: 20px;
    grid-row: 4;
    grid-column: 19 / 30;
}

.teks3{
    text-align: justify;
    font-size: 20px;
    grid-row: 10;
    grid-column: 19 / 30;
}

.wiki{
    font-size: 15px;
    grid-column: 22 / 26;
    grid-row: 9;
    z-index: 1;
    text-decoration: none;
}

.gambar3{
    z-index: 1;
    width: 1920px;
    height: 30px;
    grid-row: 1;
    grid-column: 1/-1;
}

.gambar4{
    width: 100px;
    z-index: 1;
    grid-column: 29;
    grid-row: 2;
}

.gambar5{
    width: 200px;
    grid-row: 6;
    grid-column: 22;
}

.pict{
    width: 100px;
    height: 100px;
}

.pict2{
    width: 80px;
    height: 40px;
    z-index: 1;
}

.Hebut{
    grid-row: 12;
    grid-column: 19;
}

.Nebut{
    grid-row: 12;
    grid-column: 21;
}

.Arbut{
    grid-row: 12;
    grid-column: 23;
}

.Krbut{
    grid-row: 12;
    grid-column: 25;
}

.Xebut{
    grid-row: 12;
    grid-column: 27;
}

.Rnbut{
    grid-row: 12;
    grid-column: 29;
}

.container {
    position: relative;
    width: 200px;
    height: 400px;
    margin: 40px auto;
    border: 2px solid #00796b;
    background-color: #e0f7fa;
    overflow: hidden;
    grid-row: 4;
    grid-column: 5;
}

.balon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px; 
    transition: bottom 0.5s ease;
}

.controls {
    margin-top: 20px;
    grid-column: 11;
    grid-row: 7;
}

button {
    background-color: #00796b;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #004d40;
}